*{
  font-family:'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
}
:root{
 --red: #DA4740;
}

h6{
  font-size: 16px;
}

button:disabled{
    background-color: rgba(59, 59, 59, 0.596);
    color: #615f5f;
}

.margin-20px{
  margin: 20px;
}
.margin-left-20px{
  margin-left: 20px;
}
.margin-bottom-20px{
  margin-bottom: 30px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("./SVG/Calendar.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.b-main{
  background: #181A1D;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
  height: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #242932 inset !important;
}

body {
  margin: 0;
  padding: 0;
}
.cute-bar{
  width:1px;
  height: 60px;
  background-color: #181A1D;
  margin-right: 10px;
  position: absolute;
  left: 1rem;
}
.content-center{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40%;
  position: relative;
  background: #111;
}

.Message{
  margin: auto;
  display: flex;
  align-items: center;
}
.j-c-f-e{
  justify-content: flex-end;
}

.footerButton{
  max-width: 301px;
  width: 50vw;
  height: 5vh;
  max-height: 40px;
  color: white;
  border: 00;
  border-radius: 12px;
  font-size: 16px;
}
.border-radius-50{
  border-radius: 50px;
}

.ReservationButton{
  background: linear-gradient(#df0795,#0040FF);
}

.denounceButton{
  border: 1px solid #7d07df;
  background: transparent;
}

#notificationIconContainer svg{
  height: 30px;
  width: 40px;
}
.notificationMenu{
  top: 0;
  position: absolute;
  right: 0px;
  transform: scale(1,0) translate(100%, 0);
  display: flex;
  flex-direction: column;
  background: #242932;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;
  margin-top: 46px;
  transition: transform 0.2s;
  border-radius: 10px;
  padding: 10px;
  animation: deployMenu 0.2s forwards ;
}
.avatar-menu{
  top: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #1b1b1b;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
  margin-right: 40px;
  border-radius: 5px;
  padding: 10px;
  animation: deployMenu 0.2s forwards ;
}

@keyframes deployMenu{
  0%{
    top:-50px;
    right:-50px;
    transform: scale(1, 0);
  }
  100%{
    top: 0;
    right:0px;
    transform: scale(1, 1);
  }
}
.avatar-menu-active{
  margin-top: 60px;
  transform: scale(1,1) translate(0,0);
  z-index: 5;
}
.css-weq8n1-MuiButtonBase-root-MuiButton-root{
  color:#000
}
.businessCard{
  width: 80vw;
  max-width: 385px;
  padding: 7vw;
  background: black;
  border-radius: 25px;
  position: relative;
}
.businessCardImage{
  position: absolute;
  z-index: 0;
  top: 15px;
  right: 9px;
}
.avatar-menu a{
  margin: 10px;
}

.font-bold{
  font-weight: bold;
}
.font-bold *{
  font-weight: bold;
}

.share{
  margin:auto
}
.font-color-blue{
  color:#0F83C3;
}
.font-color-red{
  color:#DA5851
}
.font-color-yellow{
  color: #FCC60E
}
.font-color-green{
    color: #0DFF8A
}
.footerCardBottomsContainer{
  height: 40px;
  width: auto;
  /* margin: auto; */
}

.l-s-1{
  letter-spacing: 1px;
}

/* .cover{
  position: absolute;
  bottom: 0;
  right: -1px;
  background: #4099dac4;
  padding: 0px 14px;
  border-bottom-right-radius: 6px;
  color: white;
}
 */
 .border-blue ::before{
  border-bottom: 1px solid rgb(10, 115, 196) !important;
 }  
 .border-pallid-blue ::before{
  border-bottom: 1px solid rgb(10, 48, 77) !important;
 } 

 .inputs-changer label,
 .inputs-changer input,
 .inputs-changer textarea,
 .inputs-changer div{
  font-size: 20px;
  margin-top: 5px;
  font-family: 'Montserrat';
  color: white;
 }
  .inputs-changer input:not(:placeholder-shown){
  border-bottom: 1px solid rgb(10, 115, 196) !important;
 } 

 .inputs-changer svg{
  color: rgb(10, 115, 196)
 }

 .inputs-changer:active svg{
  color: rgb(6, 224, 240)
 }

.imageCard img{
  width: auto;
  min-width: auto;
  height: auto;
  image-rendering: auto;
}
.like {
  display: flex;
  align-items: center;
  color:var(--red);
}
.unlikeBttn {
  color: white;
}

.like label {
  margin-right: 0px;
  margin-left: 0px;
}

/* CREATE local PAGE CSS */

.createLocalPage {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#authContainer a{
  color: rgb(221, 221, 221);
  text-decoration: underline;
  align-self: flex-start;
  margin: 3vh 8vw 0px;
  font-size: 20px;
}
.d-f{
  display: flex;
}
#d-f{
  display: flex;
}
.a-i-c{
  align-items: center;
}
.t-a-c{
  text-align:center ;
}
.t-a-s{
  text-align:start ;
}
.j-c-c{
  justify-content: center;
}
.subHeader{
  color: #A4A4A4;
}
.font-size-64{
  font-size: 3.2rem;
}
.p-a{
  position:absolute;
}
#font-color-white{
  color: white
}
.font-size-40{
  font-size: 40px;
}
.font-size-32{
  font-size:32px;
}
.font-size-25{
  font-size: 25px;
}
.font-color-white{
  color:#fff;
}
.font-color-black{
  color:#000;
}
.font-color-gray{
  color:#A1A1A1;
}
.margin-top-5vh{
  margin-top: 5vh;
}
.m-l-5{
  margin-left: 5vw;
}
.m-l-10{
  margin-left: 10vw;
}
.m-r-5{
  margin-right: 5vw;
}
.m-r-10{
  margin-right: 10vw;
}
.height-75{
  height: 75%;
}
.w-85vw{
  width: 85vw;
}
.margin-top-3vh{
  margin-top: 3vh;
}
.margin-bottom-5vh{
  margin-bottom: 5vh;
}
#margin-bottom-5vh{
  margin-bottom: 5vh;
}
.horizontalCenter{
  position: relative;
  left: 0;
}
.goDown{
  position:absolute;
  bottom: 25px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: 1px solid white;
  border-color: white;
}
#calendar svg{
  color:white;
}
fieldset{
  border: 1px solid white;
  border-color: white;
}
#selectButton fieldset{
  border: 1px solid white;
  border-color: white;
}
.f-w-w{
  flex-wrap: wrap;
}
.goUp{
  position:absolute;
  top: 15vh;
}
.h-45px{
  height: 45px;
}
.p-r{
  position:relative;
}
.j-c-s-a{
  justify-content: space-around;
}
.j-c-s-b{
  justify-content: space-between;
}
.j-c-s-e{
  justify-content: space-evenly;
}
.z-i-1{
  z-index: 1;
}
.z-i-2{
  z-index: 2;
}
.m-t-15{
  margin-top: 15px;
}
.m-v-20{
  margin: 20px 0;
}
.d-g{
  display: grid;
}
.j-i-c{
  justify-items: center;
}
.j-i-f-s{
  justify-items: flex-start;
}
.g-t-c-2{
  grid-template-columns: 1fr 1fr;
}
.g-t-r-3{
  grid-template-rows: 1fr 1fr 1fr;
}

.b-gray{
  background:#2A3038;
}

.circular-radius{
  border-radius: 50%;
}

#profileCardIcons > p,
#profileCardIcons a{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerLinks{
  display: block;
    margin-left: 10px;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;

}
.landingPageImagesContainers{
  min-width: 440px;
  height: 25vh;
  min-height: 219px;
  background-position: center;
  margin-bottom: 5px;
  opacity: 0.9;
}
#ratingDialog{
  background: #101010  none repeat scroll 0% 0%;
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
color: white;
}
#profileRatings svg{
  color: white;
}
#profileRatingsPaying svg{
  color: #faaf00;
}

.barMenuAnimation {
  transform: rotateZ(180deg);
  top: 0px;
  left: 35px;
  height: 90%;
  width: 5px;
  animation: barMenuAnimation 1s forwards;
}

@keyframes barMenuAnimation{
  from{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  to{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  
}


#ratingShow svg{
  color:rgb(255, 255, 255)
}
#ratingDialog svg {
  color:white
}
#arrowSVG{
  width: 100%;
  height: 80px;
}
#background-transparent{
  background-color: transparent;
}
#arrowSVG path{
  stroke: white;
  stroke-width: 1px;
  animation: fill 2s forwards 3.5s;
}
@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill: white;
  }
}

#authContainer > div{
  margin-top: 3vh;
}
#authContainer input{
  color: white;
}
.font-size-20{
  font-size: 20px;
}
.css-7209ej-MuiInputBase-input-MuiFilledInput-input{
  color:white;
}

.inputs-shape{
  border-radius: 8px;
  width: 85vw;
}

.box-shadow{
  box-shadow: rgba(0,0,0,0.25)0px 5px 5px 0px;
}
.css-zdqerp-MuiInputBase-root-MuiFilledInput-root::before{
  border-bottom: 0 !important; 
}
.businessCardButton{
  width: 40vw;
  max-width: 250px;
  height: 30px;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  border-radius: 78px;
}
.proVersionButton{
  align-self: center;
    background: linear-gradient(90deg, #f40101, #0a41ef);
    color: white;
    font-size: 20px;
    box-shadow: #6b21d84a 5px 5px 5px 1px;
}
.greenBackground{
  background: #03bf64;
  box-shadow: #01fc8345 0px 7px 5px 0px;
}
.centerByPositionRelative{
  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
/* NAVBAR */

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #181a1d;
  box-shadow: rgba(255, 255, 255, 0.10)2px 2px 2px 2px;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vw;
  width: 80vw;
}

.links a{
  margin-left: 3vw;
}
.loggedInContainer a{
  margin-left: 3vw;
}

a {
  text-decoration: none;
  color: #000;
}
.navbar a {
  color: rgb(255, 255, 255);
}
.body {
  color: rgb(255, 255, 255);
}
.avatar-menu a{
  color: rgb(255, 255, 255);
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
}

/* INDIVIDUAL local */
.localPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.leftSide {
  display: grid;
  place-items: center;
}
.circleButton{
  background: #181a1d;
  border-radius: 50%;
  display: inline;
  height: 25px;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  width: 25px;
  z-index: 1;
}
#cardContainer{
  border-radius: 10px;
  background-color: #0e0e0e;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  min-width: 320px;
}
#circleButtonLeft{
  left: 18px;
}
#circleButtonLeft svg{
  color: white;
}
#circleButtonRight{
  right: 12px;
}
#circleButtonRight svg{
  color: rgb(29, 175, 168);
}
.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}
.googleReference{
  background: #0e894f;
  padding: 10px;
  border-radius: 15px;
  margin-top: 15px;
}

.rightSide #addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

#addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-d-c{
  flex-direction: column;
}
.f-d-r{
  flex-direction: row;
}
.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}
.local-images-place{
  height: 25%;
}

.body{
  font-size: 0.8em;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.body-second{
  align-self: center;
  margin-right: 15px;
}
/* LOGIN */

#authContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 6vh;
  overflow-y: auto;
}


#authInputs {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}


.MuiTextField-root label {
  color:white;
}
.about{
  text-align: center;
}
@media (max-height: 550px) {
  .footer svg{
    font-size: large;
  }
}


.Form{
  width: 100vw;
  overflow: hidden;
}

#FirstPage{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  z-index: 4;
  background: #EBEBEB;
  transition: all 1s;
  height: calc(100vh - 70px);
}
#FirstPage input{
  border: 0 solid;
  background-color: #EBEBEB;
  border-radius: 3px;
  min-width: 200;
  min-height: 40px;
  font-size: 1.2rem;
  color: #1b1d1c;
  z-index: 2;
  border-bottom: 1px solid #837878;
  width: 100%;
}
#FirstPage label{
  margin-top: 1vh;
}

input[type="file"] {
  display: none;
} 
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.passedPage{
  transform: translate(100vw) scale(0.5,0.5) !important;
}

#SecondPage{
  display: flex;
  margin-top: calc(-100vh + 70px);
align-items: flex-start;
flex-direction: column;
position: relative;
transition: all 1s;

background: #EBEBEB;
z-index: 3;
  transition: all 1s;
  height: calc(100vh - 70px)
}
#SecondPage input{
  border: 0 solid;
  background-color: #EBEBEB;
  border-radius: 3px;
  min-width: 200;
  min-height: 40px;
  font-size: 1.2rem;
  color: #1b1d1c;
  z-index: 1;
  border-bottom: 1px solid #837878;
  width: 100%;
}
.pageChanger{
  position: absolute;
  bottom: 5vh;
right: 0;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#SecondPage label{
  margin-top: 1vh;
}
input:focus, textarea:focus{
  outline: none;
}
#ThirdPage{
  margin-top: calc(-100vh + 70px);
  position: relative;
}
select{
  border: 0px;
  border-bottom: 2px solid black;
  padding: 9px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
select:focus-visible{
  outline: none;
}
.left-navbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.left-navbar #Perxins{
  font-size: 1.5rem;
margin-left: 2vw;
margin-top: 1vh;
color: aliceblue;
}
.left-navbar #menu{
  margin-left: 5vw;
}
#menu img{
  width: 40px;
}

.timing p, .timing span{
  font-size: 1em;
position: absolute;
}
.timing-days{
  top: 13px;
right: 17px;
}
.timing-hours{
  top: 31px;
right: 11px;
}
.b-white{
  background-color: white;
}
#Link{
  padding: 0 74px 84px 88px;
  margin-top: 15vh;
}
#Link div{
      margin-top: 8vh;
    font-size: 25px;

}
#Link h2{
  margin-top: 15px;
  font-size: 32px;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
  background: #000;
}

#Link div a{
  font-size: 25px;
  color: white;
}


  
  .detailsArea{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      text-align: center;
  }
  .detailsP{
    margin: auto;
    word-wrap: break-word;
    width: 75vw;
  }
  .detailsSpecs{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  .detailsSpecs div{
      
  border-radius: 12px;
  padding: 12px;
  padding-top: 1vh;
      padding-bottom: 1vh;
  font-size: 0.8rem;
  margin-top: 4vw;
  position: relative;
  display: flex;
  align-items: center;
  align-items: center;
  width: 210px;
  }
  .detailsSpecs div img{
      position:relative;
      z-index: 2;
      height: 4.5vh;
      left: 10px;
      bottom: 25%;
  }
  .detailsSpecs div div{
      display: flex;
  flex-direction: column;
  background: #FF9A02;}
  .direction{
      text-align: start;
  }
  .marker{
      background: #FF9A02;
      width: 40%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: flex-end;
      font-size: 0.6em;
      margin-top: 10vw;
      padding: 5px;
  }
  
  .productsCarrousel{
      display: flex;
      overflow-x: scroll; 
  }
  .productsCarrousel img{
      width: 25vw;
  }
  .callNumber{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-top: 7vh;
  }

  #Time{
    border: 0px !important;
    display: flex;
  }
  #TimeContainer{
    display: inherit;
  }
  #counters{
    display: flex;
flex-direction: column;
margin-left: 12vw;
  }
#EntrancePrice{
  display: flex;
  flex-direction: row;
}
#EntrancePrice input{
  width: 30%;
}
textarea{
  resize: none;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background-color: #EBEBEB;
}
#description{
  position: relative;
}
#description p{
  position:absolute;
  right:0;
  bottom:3px;
}
.overflow{
  overflow-y: auto;
}
.toggledForm{
  position: relative;
  width: 85vw;
  background: white;
  height: 5vh;
  border: 4px solid #383d46;
  margin-top: 25px;
    margin-bottom: 50px;
}
#shareButtons > button{
  margin: 0 10px;
}

.svgIcon{
  bottom: 50%;
  right: 50%;
  width: 32px;
  height: 45px;
  position: absolute;
  transform: translate(50%,50%);
}
.linkToCreateEventOnLocal{
  max-width: 400px;
  position: absolute;
  color: white;
  bottom: -25px;
  background: #1b1818 none repeat scroll 0% 0%;
  left: 50%;
  border-radius: 9px;
  transform: translate(-50%, 50%);
  width: 95vw;
  text-align: center;
  height: 30px;
  padding: 2px 0;
}

#searchForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#searchForm div, #searchForm button{
  margin-top: 5px;
}
.errorMessage{
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 60px;
  right: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%,50%);
  z-index: 5000;
}
.eventsDays{
  margin: 9px;
  border: 1px solid #008cff;
  color: white;
  padding: 7px;
  border-radius: 7px;
}

.eventType{
  background-color: #2c323a;
  color: rgb(255 255 255 / 87%);
}

.MuiList-root{
  color:white;
  background-color: #181c21;
}
.deployedMenu{
  transform: scale(1,1) translate(0,0);
  z-index: 1;

}